<!doctype html>
<html>
  <head>
    <title>All In</title>
    <link rel="stylesheet" type="text/css" href="/lib/flexboxgrid.css">

    <link href='/styles.css' rel="stylesheet">

  </head>
  <body>
    
    <div id="react-header">
      
    </div>

    <div id="react-main-mount">
      <%- reactOutput %>
    </div>

	<!-- comment out main.js to see server side only rendering -->
	<script src="/main.js"></script>

  </body>
</html>
