*,
*:before,
*:after {
	margin: 0;
	padding: 0;
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body,html {
  background: #e5e5e5;
  overflow: hidden;
  height: 100%;
}

input, textarea {
  outline: none;
}

#react-header {
  margin: 20px 0 25px;  
}

#main-title {
  text-align: center;
  height: 55px;
  margin-bottom: 15px;
  line-height: 55px;
  color: #033DA0;
  font-size: 40px;
}

.nav {
  margin: 20px 0;
}

.nav .col-xs-3 {
  padding: 0;
}

.nav-tab {
  text-decoration: none;
  color: #2F7AF9;
  font-size: 24px;
  text-align: center;
  width: 100%;
  display: inline-block;
  margin-bottom: 2px;
}

.nav-tab.middle {
  border-left: 1px solid #93B9FB;
  border-right: 1px solid #93B9FB;
}

.nav-tab.right {
  border-right: 1px solid #93B9FB;
}

.nav-tab.selected, .nav-tab:hover {
  border-bottom: 2px solid #93B9FB;
  margin-bottom: 0;
}

.scheduler-title {
  text-align: center;
  margin: 15px 0;
}

.time-container {
  height: 60px;
  line-height: 60px;
  margin: 10px 20px;
  border: 1px solid #C2E0FE;
  border-radius: 10px;
  cursor: pointer;
}

.time-container:hover {
  -webkit-box-shadow: 1px 0px 20px 1px rgba(148,145,148,1);
  -moz-box-shadow: 1px 0px 20px 1px rgba(148,145,148,1);
  box-shadow: 1px 0px 20px 1px rgba(148,145,148,1);
}

.timing {

}

.textTime {
  height: 45px;
  margin: 5px 20px 10px 10px;
  border-radius: 5px;
  padding: 5px 12px 5px 5px;
  line-height: 45px;
  font-size: 30px;
  width: 90%;
  background-color: #C2E0FE;
  border: 0;
}

.hide {
  display: none;
}